.hero {
  & {
    background-image: url("../../img/zoom.svg"), url("../../img/herobgi.jpg");
    background-repeat: no-repeat;
    background-position: right bottom 70px, center;
    background-size: 150px, cover;
    padding-top: 224px;
    padding-bottom: 225px;
    position: relative;
  }

  &__block {
    max-width: 490px;
  }

  &__title {
    font-weight: 700;
    font-size: 54px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 12px;
  }

  &__ellips {
    position: relative;
    z-index: 1;
    display: inline-block;
  }

  &__ellips::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url("../../img/ellip.svg");
    width: 260px;
    height: 92px;
    display: block;
    background-position: center;
    background-size: contain;
    position: absolute;
    z-index: -1;
    left: -25px;
    top: -7px;
    rotate: (-3deg);
  }

  &__text {
    max-width: 269px;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 25px;
  }

  &__link {
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding: 13px 42px;
    line-height: 140%;
    background: #961914;
    border-radius: 8px;
  }

}

@media only screen and (max-width:845px) {
  .hero {
    &__title {
      font-size: 40px;
      line-height: 130%;
      margin-top: 24px;
    }

    &__brek {
      display: none;
    }

    &__block {
      max-width: 327px;
    }

    &__ellips::before {
      width: 185px;
      height: 64px;
      top: 0;
      left: -8px;

    }

    &__text {
      font-size: 18px;
      max-width: 200px;
      margin-bottom: 48px;
    }

    & {
      background-position: right bottom 5px, center;
      background-size: 80px, cover;
    }


  }


}